@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<div id="navbar-top">
        <h1 style="line-height:2.9;">@Html.Sitecore().Field("Title", Model.Rendering.Item)</h1>
</div>

